* {
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.navEle {
    font-size: larger;
    font-weight: bold;
    color: white;
    padding: 12px;
}

.navEle:hover{
    color: darkblue;
    text-shadow: .5px .5px darkblue;
}

.searchBar {
    background-color: rgba(100, 148, 237, 0.56);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchHeader {
    padding-bottom: 5px;
}

.content {
    padding: 10px 10px;
    margin: 10px;
}

.post, .singlePost, .newPostContainer {
    background-color: rgba(100, 148, 237, 0.56);
    border: 3px solid cornflowerblue;
    padding: 4px;
    margin: 5px 0px;
    border-radius: 12px;
}

.post > h3, p, a {
    padding: 2px;
}

.post > h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.post > .lastEle {
    padding-bottom: 20px;
}

.post > a:hover{
    color: darkblue;
    text-shadow: .3px .3px darkblue;
    font-weight: bold;
}

.singlePost {
    padding: 10px 10px;
    margin: 10px;
}

.postData > .lastEle {
    margin-bottom: 20px;
}

.newPostContainer {
    padding: 10px 10px;
    margin: 10px;
}

.newPostHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPostData > h4 {
    font-size: larger;
    padding: 5px;
}

.newPostData > input {
   margin-top: 5px;
   margin-bottom: 5px;
   height: 45px;
   width: 100%;
}

.button {
    padding-top: 10px;
}

.button > button:active {
    border-color: blue;
    border-radius: 4px;
}

.button > button:hover {
    background-color: rgba(13, 0, 255, 0.182);
}